<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
</head>
<body>
 <h1>新入社員の連絡先<h1>
   <% if @data.errors.present? %>
   入力エラーがあります。
   <ul>
    <% @data.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
   </ul>
   <% end %>
  <form action="datas" method="post">
    <div>
      <label for ="data_name">名前</label>
      <input type ="text" name="name" id="data_name">
    </div>
    <div>
      <label for ="data_email">Email</label>
      <input type ="text" name="email" id="data_email">
    </div>
    <div>
      <label for ="data_adress">住所</label>
      <input type ="text" name="adress" id="data_adress">
    </div>
    <div>
      <label for ="data_tel">電話番号</label>
      <input type ="text" name="tel" id="data_tel">
    </div>
    <input type ="submit">
  </form>
  <div>
    <a href="/">戻る</a>
  </div>
</body>
</html>
