<html>
 <hesd>
   <meta charset="UTF-8">
   <title>トップページ</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <div class="container">
    <footer>
     <a href="adress.html">会社所在地</a>
    </footer>
    <div>
     <a href="/form_new">社員新規登録</a>
    </div>
    <div>
     <a href="/staff_all">社員一覧</a>
    </div>
  </div>
 </body>
</html>
